/* src/styles/sidebarStyles.css */
.sidebar {
    width: 200px; /* Chiều rộng của sidebar */
    background-color: #e4baba; /* Màu nền cho sidebar */
    height: calc(100vh - 3.5rem); /* Chiều cao toàn bộ trang trừ chiều cao của header */
    padding: 1rem;
    font-weight: bold;
    font-size: 18px;
    position: fixed; /* Giữ sidebar cố định */
    top: 3.5rem; /* Đặt cách từ trên cùng xuống */
    display: flex; /* Thiết lập sidebar là flexbox */
    flex-direction: column; /* Xếp theo chiều dọc */
    justify-content: space-between; /* Chia đều không gian giữa các phần tử */
}

.sidebar-list {
    list-style-type: none; /* Loại bỏ dấu đầu dòng */
    padding: 0; /* Bỏ padding cho list */
    margin: 0; /* Bỏ margin cho list */
    flex-grow: 1; /* Đảm bảo list chiếm không gian còn lại */
    display: flex; /* Thiết lập list là flexbox */
    flex-direction: column; /* Xếp theo chiều dọc */
    justify-content: space-around; /* Cách đều các item */
}

.sidebar-item {
    width: 100%; /* Đảm bảo item chiếm toàn bộ chiều rộng */
}

.sidebar-item a {
    text-decoration: none; /* Bỏ gạch chân */
    color: #333; /* Màu chữ cho liên kết */
    padding: 10px; /* Thêm padding cho các item */
    border-radius: 4px; /* Bo góc cho các item */
    transition: background-color 0.3s; /* Hiệu ứng chuyển màu */
}

.sidebar-item a:hover {
    background-color: #eb8b7f; /* Thay đổi màu nền khi hover */
    color: white; /* Đổi màu chữ khi hover */
}
